<% include ./public/header.ejs %>
<style type="text/css">
    .row h4 {
        text-align: center;
    }
</style>
<div class="container">
    <ol class="breadcrumb navbar-inverse">
        <li><a href="/">全部相册</a></li>
        <li class="active"><%=albumname%></li>
    </ol>

    <div class="row">
        <% for(var i = 0 ; i < images.length ; i++){ %>
        <div class="col-xs-6 col-md-3">
            <a href="/<%=albumname%>/<%=images[i]%>" class="thumbnail">
                <img src="<%=images[i]%>" alt="...">
            </a>
            <h4> </h4>
        </div>
        <%}%>
        </div>
    </div>

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>