<% include ./public/header.ejs %>
<div class="container">
    <div class="row">
        <form id="form" style="width:40%;" method="post" action="">
            <label for="wenjianjia">文件文件夹名称：</label>
            <div class="form-group">
                <input type="text" name="dirname">
            </div>
            <button type="submit" id="submit" class="btn btn-success">创建</button>
        </form>
    </div>
</div>
</body>

</html>