<% include ./public/header.ejs %>
<style type="text/css">
    .row h4 {
        text-align: center;
    }

    #menu {
        width: 0;
        /*设置为0 隐藏自定义菜单*/
        overflow: hidden;
        /*隐藏溢出的元素*/
        box-shadow: 0 1px 1px #888, 1px 0 1px #ccc;
        position: absolute;
        background: #fff;
        /*自定义菜单相对与body元素进行定位*/
    }

    .menu {
        width: 130px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        text-align: center;
        color: #333;
        cursor: pointer;

    }

    .menu:hover {
        background: rgb(0, 80, 252);
        color: white
    }

    .item {
        margin-bottom: 50px;
        overflow: hidden;
        height: 260px;
    }

    #input {
        width: 100%
    }
</style>
<div class="container">
    <div class="row" id="list">
        <% for(var i = 0 ; i < albums.length ; i++){ %>
        <div class="col-xs-6 col-md-3 item">
            <a href="<%= albums[i] %>" class="thumbnail">
                <img src="images/wjj.jpg" alt="...">
            </a>
            <h4><%= albums[i] %></h4>
        </div>
        <% } %>
    </div>
    <div id="menu">
        <div class="createdir menu">新建相册</div>
        <div class="createdir menu">重命名</div>
        <div class="createdir menu">删除相册</div>
    </div>
    <div style="display: none">
        <div class="col-xs-6 col-md-3 item node">
            <a class="thumbnail">
                <img src="images/wjj.jpg" alt="...">
            </a>
            <div id="text-node"><input type="text" name="dirname" id="input"></div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        //dom节点
        var oMenu = document.querySelector('#menu'),
            List = document.querySelector("#list"),
            Lists = List.children,
            menus = document.querySelector("#menu").children,
            menuLength = menus.length,
            listLength = Lists.length,
            node = document.querySelector(".node")

        //全局文件夹名称
        var dirname = "";
        for (i = 0; i < listLength; i++) {
            Lists[i].addEventListener("mouseenter", function (e) {
                dirname = this.children[1].innerHTML;
            }, false)
        }
        //鼠标右键菜单
        function showMenu(e) {
            oMenu.style.height = 120 + "px";
            //取消默认的浏览器自带右键 很重要！！
            e.preventDefault();
            //获取我们自定义的右键菜单
            var menu = document.querySelector("#menu");
            //根据事件对象中鼠标点击的位置，进行定位
            menu.style.left = e.clientX + 'px';
            menu.style.top = e.clientY + 'px';
            //改变自定义菜单的宽，让它显示出来
            menu.style.width = '125px';
        }

        window.oncontextmenu = function (e) {
            showMenu(e)
        }

        //关闭右键菜单
        window.onclick = function (e) {
            oMenu.style.height = 0;
        }

        //右键菜单点击逻辑处理
        for (let i = 0; i < menuLength; i++) {
            menus[i].addEventListener("click", function () {
                if (i == 0) {
                    document.querySelector("#list").appendChild(node)
                    var input = document.querySelector("#input")
                    input.focus()
                    input.addEventListener("keydown", function (e) {
                        if (e.keyCode == 13) {
                            input.blur()
                        }
                    })
                    input.addEventListener("blur", function () {
                        if (this.value == "") {
                            document.querySelector("#list").removeChild(node)
                        } else {
                            mkdir(this.value)
                        }
                    })
                }
                else if (i == 1) {
                    for (var j = 0; j < listLength; j++) {
                        if (Lists[j].children[1].innerHTML == dirname) {
                            let oldname = Lists[j].children[1].innerHTML
                            Lists[j].children[1].innerHTML = "<input type='text' id='new' value=" + dirname + "  />"
                            document.querySelector("#new").focus()
                            document.querySelector("#new").select()
                            document.querySelector("#new").addEventListener("keydown", function (e) {
                                if (e.keyCode == 13) {
                                    this.blur()
                                }
                            })
                            document.querySelector("#new").addEventListener("blur", function () {
                                renamedir(oldname, this.value)
                            })
                        }
                    }
                } else if (i == 2) {
                    if (dirname == "") {
                        alert("您没有选择要删除的相册！")
                        return false;
                    }
                    show_confirm(dirname)
                }
            })
        }
    }

    //创建相册ajax请求
    function mkdir(value) {
        $.post('/createdir', { dirname: value }, function (data) {
            if (data.code == 0) {
                alert("相册已存在，创建相册失败！")
                window.location.href = '/'
            } else {
                window.location.href = '/'
            }
        })
        document.querySelector("#text-node").innerHTML = "<h4>" + value + "<h4>"
    }

    //重命名相册ajax请求
    function renamedir(oldName, newName) {
        if (oldName == "") {
            alert("请选择您要重命名的相册")
            return false;
        }
        $.post('/renamedir', { "oldname": oldName, "newname": newName }, function (data) {
            if (data.code == 0) {
                alert("相册已存在，重命名失败！")
                window.location.href = '/'
            } else {
                window.location.href = '/'
            }
        })
    }

    //删除相册ajax请求
    function removeDir(value) {
        $.post('/removedir', { dirname: value }, function (data) {
            if (data.code == 0) {
                window.location.href = '/'
            }
        })
    }

    //确认删除
    function show_confirm(dirname) {
        var r = confirm("确定删除？");
        if (r == true) {
            removeDir(dirname)
        } else {
            return false;
        }
    }
</script>
</body>

</html>